@import "./nanumFont.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,600;1,700&display=swap");

* {
  font-family: "Apple SD Gothic Neo", "NanumBarunGothic", sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body::after {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
  z-index: -999;
}

body::before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(84, 101, 139), rgba(168, 66, 199, 0.555));
  clip-path: circle(30% at right 70%);
  z-index: -999;
}

.naver-d2 {
  color: #49c53e;
  font-weight: 700;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  top: 32px;
  box-shadow: 3px 3px 10px 5px #999999d0;
  width: 90vw;
  height: 80vh;
  border-radius: 8px;
}

/* 리본 CSS */
.container {
  --d: 6px; /* folded part */
  --c: rgb(31, 31, 141); /* color */
  --f: 24px; /* ribbon font-size */
  position: relative;
}
.container::before {
  content: attr(data-ribbon);
  font-size: var(--f);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(29.29%, -100%) rotate(45deg);
  transform-origin: bottom left;
  padding: 5px 35px calc(var(--d) + 5px);
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0 0) bottom/100% var(--d)
    no-repeat var(--c);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(100% - var(--d)) calc(100% - var(--d)),
    var(--d) calc(100% - var(--d)),
    0 100%
  );
  -webkit-mask: linear-gradient(
        135deg,
        transparent calc(50% - var(--d) * 0.707),
        #fff 0
      )
      bottom left,
    linear-gradient(-135deg, transparent calc(50% - var(--d) * 0.707), #fff 0)
      bottom right;
  -webkit-mask-size: 300vmax 300vmax;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    min-height: 90vh;
  }
}

.border-line-thin {
  height: 1px;
  margin-top: 8px;
}
